/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(0deg, #283032 0%, #545957 100%); 
    color: #283032; 
}
